body,html{
  margin: 0;
  padding: 0;
}
.nav_links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content:space-between;
  list-style:none;
}

.nav_links:hover{
  background-color: rgb(150, 148, 148);
}
/*-------navbar-------*/

header{
  width: 100%;
  height: 85px;
  background-color: grey;
}
/*-------header styling-------*/

h1{
  float: left;
  padding: 5px;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Alfa slab one', cursive;
  color:burlywood;
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline;
}

h2{
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: x-large;
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline;
  font-weight: 500;
}

span{
  color: black; 
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline;
}
/*-------logo styling-------*/

ul{
  width: auto;
  float:none;
  margin-top: -10px;
  margin-left: 50px;
}

li, a {
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: burlywood;
  text-decoration: none;
}

.nav_links {
  display: flex;
  flex-direction: row;
  padding: 14px 16px;
  overflow: hidden;
  justify-content:space-between;
}
/*-------navbar styling lists-------*/

.jewelryimg{
  border-radius:30px;
  top: 100px;
  left: -30px;
}
/*-------image styling-------*/

h3{
  display: flex;
  float:right;
  padding: 350px;
  padding-top: 95px;
  font-size: xx-large;
  font-family:monospace;
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline;
  font-weight: 500;
}
h4{
  display: flex;
  float: right;
  padding: 40%;
  margin-top: -62%;
  font-size: x-large;
  font-family:monospace;
  margin-right: -40%; 
  font-weight: 500;
}
/*-------about.html text decoration-------*/

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 1%;
  margin-bottom: 2%;
  background-color: rgb(146, 111, 92);
  border-radius: 10%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.item > img {
  max-width: 290px;
  max-height:290px ;
  border-radius: 3%;
  margin: 1%;
}
.item > p {
  font-size: x-large;
  margin: 1%;
  font-family:monospace;
}
.item:hover{
  display: flex;
  background-color: rgb(226, 218, 209);
}
/*-------products.html layout items styling-------*/

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  margin-bottom: 0%;
  background-color: white;
  border-radius: 5%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.box > img{
  max-width: 290px;
  max-height:290px ;
  border-radius: 7%;
  margin: 0%;
}
.box > p {
  font-size: x-large;
  margin: 1%;
  font-family:monospace;
}
/*-------index.html page layout styling-------*/

.sub-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 0%;
  margin-bottom: 0%;
  background-color: rgb(252, 251, 250);
  border-radius: 1%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.team > img {
  border-radius: 7%;
  margin: 1%;
}
/*-------documentation.html layout styling*/

h7{
  display: flex;
  font-size: x-large;
  font-family: monospace;
  margin-left: 1%;
}
/*-------documentation.html text styling-------*/

.h{
  width: 100%;
  height: 7px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 450px;
  margin-bottom: 0px;
  background-color: rgb(5, 5, 5);
}
/*-------contacts.html line decoration*/

h8{
  justify-content:center;
  font-size:xx-large; 
  margin-top: 470px;
  display: flex;
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline;
}

h9{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: 20px
}

h10{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}
/*-------contacts.html text decoration-------*/

 .slideshow {
  height: 600px;
  width: 678px;
}

 .slideshow img {
  width: 100%;
  height: 100%;
  border-radius: 6%;
 }
 /*-------slideshow ANIMATION PART-------*/

 .jewellerypic{
  display: flex;
  float: right;
  border-radius: 5% ;
  height: 285px;
  width: 750px;
 }

 .jewellerypic1{
  display: flex;
  float: right;
  border-radius: 5% ;
  height: 285px;
  width: 750px;
  margin-top: 30px;
 }
 /*-------pictures beside slideshow-------*/

 div.text1{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: monospace;
  margin-top: 2%;
 }

 div.text1{
  -webkit-text-decoration-line: underline; 
  text-decoration-line: underline; 
}
/*-------text underline-------*/

.pearl1{
  display: flex;
  height: 750px;
  border-radius: 7%;
  margin-top: 40px;
  width: 715px;
}

.pearl2{
  display: flex;
  height: 750px;
  border-radius:7% ;
  margin-top: 40px;
  width: 715px;
}
/*-------pictures index.html styling-------*/

.shoppingcart{
  display: flex;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}
/*-------shopping cart picture-------*/