body,html{
  margin: 0;
  padding: 0;
}
.nav_links {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  list-style:none;
}

/*-------navbar-------*/

header{
  width: 100%;
  height: 85px;
  background-color: grey;
}
/*-------header styling-------*/

h1{
  float: left;
  padding: 5px;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Alfa slab one', cursive;
  color:burlywood;
  text-decoration-line: underline;
}

h2{
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: x-large;
  text-decoration-line: underline;
  font-weight: 500;
}

span{
  color: black; 
  text-decoration-line: underline;
}
/*-------logo styling-------*/

ul{
  width: auto;
  float:none;
  margin-top: -10px;
  margin-left: 50px;
  list-style: none;
}

li, a {
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: burlywood;
  text-decoration: none;
}

.nav_links {
  display: flex;
  flex-direction: row;
  padding: 14px 16px;
  overflow: hidden;
  justify-content:space-between;
}
/*-------navbar styling lists-------*/

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 1%;
  margin-bottom: 2%;
  background-color:rgb(255, 255, 255);
  border-radius: 10%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.item > img {
  max-width: 360px;
  max-height:360px ;
  border-radius: 3%;
  margin: 1%; 
}
.item > p {
  font-size: x-large;
  margin: 1%;
  font-family:monospace;
}
.item:hover{
  display: flex;
  background-color: rgb(255, 255, 255);
}
/*-------products.html layout items styling-------*/

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  margin-bottom: 0%;
  background-color: white;
  border-radius: 5%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.box > img{
  max-width: 290px;
  max-height:290px ;
  border-radius: 7%;
  margin: 0%;
}
.box > p {
  font-size: x-large;
  margin: 1%;
  font-family:monospace;
  text-decoration-line: underline; 
}
/*-------index.html page layout styling-------*/

.sub-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 0%;
  margin-bottom: 0%;
  background-color: rgb(252, 251, 250);
  border-radius: 1%;
  height: fit-content;
  width: fit-content; 
  margin: 20px;
}
.team > img {
  border-radius: 7%;
  margin: 1%;
}
/*-------documentation.html layout styling*/

 .slideshow {
  height: 600px;
  width: 710px;
}

 .slideshow img {
  width: 100%;
  height: 100%;
  border-radius: 6%;
 }
 /*-------slideshow ANIMATION PART-------*/

 .jewellerypic{
  display: flex;
  float: right;
  border-radius: 5% ;
  height: 280px;
  width: 725px;
 }

 .jewellerypic1{
  display: flex;
  float: right;
  border-radius: 5% ;
  height: 280px;
  width: 725px;
  margin-top: 30px;
 }
 /*-------pictures beside slideshow-------*/

 div.text1{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: monospace;
  margin-top: 2%;
 }

 div.text1{
  text-decoration-line: underline; 
}
/*-------text underline-------*/

.pearl1{
  display: flex;
  height: 750px;
  border-radius: 7%;
  margin-top: 40px;
  width: 717px;
}

.pearl2{
  display: flex;
  height: 750px;
  border-radius:7% ;
  margin-top: 40px;
  width: 717px;
}
/*-------pictures index.html styling-------*/

.shoppingcart{
  display: flex;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}
/*-------shopping cart picture-------*/

.company1{
  display: flex;
  border-radius: 3%;
}
/*-------picture sizing about.html------*/

h3{
  display: flex;
  padding: 350px;
  justify-content: center;
  padding-top: 95px;
  font-size: xx-large;
  font-family:monospace;
  text-decoration-line: underline;
  font-weight: 500;
 }
h4{
  display: flex;
  font-family: monospace;
  font-size: x-large;
  font-weight: 300;
  text-align:center;
  margin: 340px;
}
 /*-------about.html text decoration-------*/

footer {
  text-align: center;
  padding: 7px;
  background-color: rgb(116, 69, 54);
  color: rgb(248, 240, 239);
}
/*-------footer decoraion-------*/

.berlock{
  display: flex;
  border-radius: 4%;
}

h7{
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: x-large;
  font-family: monospace;
}

h8{
  font-family: monospace;
  font-weight: 300;
  font-size: 18px;
}

dl{
  font-family: monospace;
  font-size: 14px;
  background-color: antiquewhite;
}

dl > dt{
  font-family: monospace;
  font-size: large;
  text-decoration: underline;
}